  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="<%= imagePath %>" alt="">
      <div class="caption">
        <h3><%= title %></h3>
        <p><%= description %></p>
        <p>
            <div class="clearfix">    
                <div class="price pull-left">$ <%= price %></div>
                <a href="/add-to-cart/<%= _id %>" class="btn btn-success pull-right" role="button">Add to Cart</a>
            </div>
        </p>
      </div>
    </div>
  </div>